<h1>Welcome <%= @user.username %></h1>

 <%= link_to 'Click here if you would like to add a hotel to review', '/hotels/new' %><br>
 <%= link_to 'Click here if you would like to add a locaton you visited', '/locations/new' %>

 


