<h3><%= @review.date_visited %></h3>
<h3><%= @review.content %></h3>
<% if current_user && current_user.id == @review.user_id %>
<p>Want to edit your comment? <%= link_to 'Click Here', edit_hotel_review_path(@hotel, @review) %> to edit.</p><br>
<p>Want to delete comment? <%= link_to 'Delete', hotel_review_path(@hotel, @review), method: :delete %></p>
<% end %>